@import url("../bower_components/bootstrap/dist/css/bootstrap.css");
@import url("../bower_components/bootstrap-grid-ms/dist/bootstrap-grid-ms.css");

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: sans-serif;

  background: #222;
  color: white;
}

a {
  color: white;
}

[data-stellar-ratio] {
  position: relative;
}

.top {
  /*background: linear-gradient(to top right, #1e5799 0%,#7db9e8 100%);*/
  background: purple;
  background: radial-gradient(ellipse at bottom left, #FF5573 0%, purple 100%);

  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

/*.header .logo {
  width: 80px;
}*/

.header .title {
  color: white;
  font-size: 24px;
  display: inline;
  /*text-transform: uppercase;*/

  display: block;
  min-height: 70px;
  line-height: 70px;
  padding-left: 70px;
  background-size: 70px 70px;
  background-image: url("../img/logo.svg?cb=08aeffa57b76261682999632116ab1c8");
  background-repeat: no-repeat;

  text-decoration: none;
}

#nav {
  padding: 10px;
}
#nav li {
  float: left;
}
#nav li a {
/*  display: block;
  padding: 8px;
  margin: 8px;*/
  color: white;
  text-decoration: none;
  /*text-transform: uppercase;*/
  border: 1px solid transparent;
}
#nav li a .icon {
  width: 1.2em;
}
.nav li a:hover {
  background: rgba(255,255,255,0.4);
  /*border: 1px solid rgba(255,255,255,0.5);*/
}

.hero {
  text-align: center;
}
.hero .logo {
  width: 400px;
  max-width: 100%;
}

.hero .logo-shadow {
  background-color: rgba(0,0,0,0.2);
  height: 2px;
  width: 275px;
  margin: auto;
  margin-top: -30px;
  margin-bottom: 25px;
  box-shadow: 0 0 30px 60px rgba(0,0,0,0.2);
  border-radius: 50%;
  z-index: -1;
}
.hero p {
  font-size: 20px;
  color: rgba(255,255,255,0.8);
}

.section .content {
  background: white;
  color: black;
}
.section .content a {
  color: dodgerblue;
}
.section-secondary .content {
  background: #666;
  color: white;
}


.section .work-item a {
  display: block;
  color: black;
  text-decoration: none;
}
.section .work-item .work-thumb {
  width: 100%;
}



.footer {
  color: white;
  padding-bottom: 80px;

}

.footer .left {
}
.footer .left .links {
  -webkit-columns: 100px auto;
}

.footer .links li a {
  text-decoration: none;
  /*text-transform: uppercase;*/
}
.footer .links li a .icon {
  width: 1.2em;
}

.legal {
  color: gray;
  font-size: 12px;
}


.skew-pre {
  padding-bottom: 100px;
}
.skew-post {
  /*padding-top: 50px;*/
}

.skew-item {
  position: relative;
  padding: 50px 0;
  /*padding-top: 100px;*/
  margin-top: -50px;
  margin-bottom: 50px;
}

.skew-content {
  position: relative;
  z-index: 2;
  /*padding: 10px;*/
}

.skew-fill {
  /*content: ' ';*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
  z-index: 1;

  box-shadow: 0px 0px 16px rgba(0,0,0,0.6);
}

.skew-bg {
  background: white;
}

.skew-cover-bottom {
    position: absolute;
    z-index: 1;
    bottom: -50%;
    width: 100%;
    height: 100%;
}

.section-secondary .skew-bg {
  background: #666;
}

.section-tertiary .skew-bg {
  background: #222;
}
