
<div class="section skew-item">
  <div class="content skew-content">
    <div class="container">

      <p>
        All work and no play.
      </p>

      <div class="clearfix work-items">
        {{#each work}}
          <div class="work-item col-md-3 col-sm-4 col-ms-6">
            <div class="panel panel-default">
              <div class="panel-body">
                <img src="{{../assets}}{{image}}" alt="{{title}}" />
                <h3>{{title}}</h3>
              </div>
            </div>
          </div>
        {{/each}}
      </div>

    </div>
  </div>
  <div class="skew-fill skew-bg"></div>
</div>
