---
title: Work
description: Notable projects of mine.
---

<div class="section skew-item">
  <div class="content skew-content">
    <div class="container">

      <div class="clearfix work-items">
        <% _.each(work, function (item) { %>
          <div class="work-item-wrap col-md-3 col-sm-4 col-ms-6">

            <div class="work-item card-flip">
              <div class="face front ratio ratio-3x2">
                <div class="ratio-inner">

                  <a href="<%- item.url %>" target="_blank">
                    <img class="work-thumb" src="<%- assetHash(item.image, data) %>" title="<%- item.title %>" />
                  </a>
                </div>
              </div>
              <div class="face back ratio ratio-3x2">
                <div class="ratio-inner">
                  <div class="work-detail">
                    <a href="<%- item.url %>" target="_blank">
                      <h3><%- item.title %></h3>
                      <p>
                        <%- item.description %>
                      </p>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          <!--
            <div class="panel panel-default">
              <div class="panel-body">
                <a href="<%- item.url %>" target="_blank">
                  <img class="work-thumb" src="<%- assetHash(item.image, data) %>" alt="<%- item.title %>" />
                  <h3><%- item.title %></h3>
                  <p>
                    <%- item.description %>
                  </p>
                </a>
              </div>
            </div>
          -->
          </div>
        <% }) %>
      </div>

    </div>
  </div>
  <div class="skew-fill skew-bg"></div>
</div>
